@import url('https://fonts.cdnfonts.com/css/leelawadee');

* {
	font-family: 'Leelawadee', 'Noto Sans';
}

html {
	background-image: url('../img/Crystal.jpg');
	background-attachment: fixed;
	background-size: cover;
}

p a {
	color: rgba(137, 196, 244, 1) !important;
}

pre, code {
	background-color: rgba(000, 000, 000, 0.23) !important;
	color: solid white !important;
 }

span {
	color: white !important;
}

#blog-post-list {
	text-align: left !important;
	color: solid white !important;
}

#navbar-links {
	text-align: center !important;
	position: relative !important;
	display: block !important;
	margin: 0 auto !important;
}

#logo {
    text-align: center;
    padding: 0px;
}

button {
	background-color: rgba(255, 255, 255, 0) !important;
	filter: drop-shadow(5px 5px 10px rgba(000, 000, 000, 0.23));
}

@media only screen
and (min-width: 1000px)
{
	#content, #footer {
		width: 1116px;
	}
	#blog-post {
		width: 1078px;
	}
	#navbar {
		height: 88px;
	}
}

#navbar {
	position: relative;
	display: block;
	background-color: rgba(000, 000, 000, 0);
	color: white;
	height: auto;
	color: solid white !important;
}

code {
	color: white !important;
}

#quicklaunch {
	text-align: right !important;
	color: solid white !important;
	width: 950px !important;
}

#post-t-d {
	text-align: center !important;
}

#content {
	color: solid white !important;
	text-align: center !important;
	position: relative !important;
	display: block !important;
	margin: 0 auto !important;
	text-align: left !important;
	font-size: 20px;
}

p {
	color:white !important;
}

.container {
	color: solid white !important;
}

.links a {
    color: white !important;
    font-size: 25px;
}

#footer {
	text-align: center;
	position: relative;
	display: block;
	margin: 0 auto;
	background-color: rgba(000, 000, 000, 0);
	color: white;
}