---
layout: site
---
      <div id="home" class="tab-content is-active">
        {% include home.html %}
      </div>
      <div id="blog" class="tab-content">
        {% include blog.html %}
      </div>
      <div id="socials" class="tab-content">
        {% include socials.html %}
      </div>
      <div id="projects" class="tab-content">
        {% include projects.html %}
      </div>
      <div id="about" class="tab-content">
        {% include about.html %}
      </div>
        {% include footer.html %}

