<h2>StuffyXP Website Update 2.1.1 Changelog</h2>
<div class="container" id="changelog-text">
<ul>    
<li>Replaced the Stuff Life link in Projects to the new StuffyXP VODS channel.</li>
<li>Added a page to choose what changelog do you want to see.</li>
<li>Added a fix for the text's color bug on other browsers (could not debug so i'm going blind here l3ngl3lgwe;b;lweogolmw4lgkl4).</li>
<li>Changed the old Clyron and Source Code links to buttons.</li>
<li>Fixed the bug where "to" and the NetPositive link didnt have the space in between.</li>
<li>Added icons to the non-boxed socials.</li>
<li>The "Go back..." text now has the Windows XP Back button along it, aside from removing its three dots on the name.</li>
<li>Changed "Changelog" to "Changelogs" in the "Other" dropdown.</li>
<li>Added thehoribyte@gmail.com email to the email box in socials, along with its button and sub-header.</li>
</ul>
</div>