<div id="title">
    <span class="title">❔ About</span>
    </div>
    <p>‎ </p>
        <p>Well hello there! I'm Stuffy (sometimes known as StuffyXP), a Honduran with internet access doing things on the internet, jokes aside i like to explore things that caught my attention to the point of breaking them, which is one of the things i'm famous of.</p>
	<p>‎ </p>
	<p>My tech journey started on 2015, the first computer i ever used was actually my dad's, a Pentium 4 machine, who (back in the day) was acceptable enough to do basic tasks, it also ran the iconic Microsoft Windows XP, and Microsoft Office 2007 Enterprise.
	<p>Probably the most influential year of my life was 2017, as two big things happened, one, i got a PC that was fully mine, it came with Windows 7, which i still love to this day (along with XP), a few months later, i created my very first YouTube channel, making and experimenting PowerPoint 2010 pressentions, exporting them to  a .mp4 file, and then uploading then to YT, the channel along with its email addresss are now deleted, i didn't touch YT for almost 4 years after that.</p>
	<p>‎ </p>
	<p>The YT channel that you know today as "Stuffy" begined back in March 13th, 2020, at the time i regained the interest and motivation to continue my journey that went as back as 2017, being known as "Yoshi Land0842" (don't ask why the name,i thought it was cool at the time), i remember a now deleted MarioKart DS gameplay shown in another laptop, it was my dad's but i used it most of the time, then on May 10th, 2021, by casualy getting my first subscriber a few days earlier, my first video was uploaded, as the second one that same day (lol).</p>
	<p>Around that time i was known as "Stuff Life", due to that i was doing plushie content (yes, i'm serious, i was a child at the time so it was valid ig), i uploaded a total of 63 videos (including Shorts which i actually saw it's peak and then got 1K views thanks to it), i decided to leave that identity on October 4th, 2023, on that day i rebranded to as you know me today, Stuffy (my handle was actually something else that wasn't @StuffyXP), and on Febuary 14th (or 13th, timezones), 2024, i uploaded my comeback since November 2023, and here we are today!</p>
	<p>‎ </p>
	<p>This website should serve a my gateway to the internet, introducing myself to milllons of people around the world, i also run my blog, where i will post updates & other misc stuff, the time that i make stuff depends on my motivation, energy and time to do so (which does not only apply to the blog FYI).</p>
	<p>‎ </p>
	<p>Now a little bit about myself, as said before, i'm from the Central America country of Honduras, and because of that my timezone is GMT -6 Central America, my pronouns are he/they and i break things the ways that you (probably) have not seen before!</p>
	</p>
<p>‎ </p>
<div id="title">
    <span class="title">💻 Specs & Software</span>
    </div>
<p>‎ </p>
<p>The PC i use at the moment of me writing this is a <b>eMachines ET1810 Revision 1</b> from 2009!</p>
<p>‎ </p>
<div class="content">
<p>
<ul>
    <li>
	<b>CPU</b>: Intel Celeron 420 (Conroe, 6th Gen) clocked at 1.6 GHz
   </li>
</ul>
<ul>
    <li>
	<b>GPU</b>: NVIDIA GeForce 7050 / nForce 620i
   </li>
</ul>
<ul>
    <li>
	<b>Storage</b>: 150 GB HDD (74 GB for Windows, 56 GB for Data, 14 GB for Xubuntu)
   </li>
</ul>
<ul>
    <li>
	<b>OSes</b>: Microsoft Windows Vista & Xubuntu 24.04 LTS
   </li>
</ul>
<ul>
    <li>
	<b>Software used for videos</b>: Camtasia Studio - Video Editing, Camtasia Recorder - Recording, Adobe Photoshop CS6 - Photo Editing, VMware Workstation Pro & Player 12 - Virtualization
   </li>
</ul>
</p>
</div>
<p>
<b>Other devices</b>: Dell Optiplex <i>insert model here since i don't remember it</i> (main PC from 2017 to 2023), Xiaomi Redmi 9A (main phone since 2023), Samsung Galaxy J5 (main phone from 2018 to 2023).
</p>
</div>
    <p>‎ </p>