<h3>About</h3>
<p>A little description of who i am!</p>
<div class="container" id="aboutme">
<p>Well hello there! :D</p>
<p>I'm StuffyXP! (but you can call me Stuffy either way) :3. If you have known me for line, you might know me as <b>Stuff Life</b> or <b>YoshiLand0842</b> (great names ik ik haha)</p>

<p>I've been here on the internet since around mid-2017, and that's for sure a pretty long time, in fact, that is where i started my first YT channel (which is now deleted), what you know as StuffyXP right now was started by me in <b>March 13, 2020</b> (ik this date by memory primirally because it was my sister's 20th birthday okay), and i have come along way since, in fact this channel was not my main at all! It was an alt account that i had that after Google deleted the 2017's channel's email for no reason, it eventually became a new career!</p>
<p>One of my other interests besides content-creation are (some) <b>games</b> (Mario & Luigi: Bowser's Inside Story from 2009 for the Nintendo DS is my fav one so far), <b>art</b>, <b>coding</b> and more!</p>

<p>My main channel, <a href="/go/youtube-stuffy/">StuffyXP</a>, (as said earlier), has been around since early-2020 and has grown so much since, so much that in 2021 it had 33 subs, and now i have 90+ subs, i can't thank you all enough :D</p>

<p>This website should serve as my own gateway to the internet, where people can go there and know a lil' bit about me! Every single thing that you see here is a representation of who i am and what i do, i also run my own blog (which you can see a link for on the navbar above)</p>

<p>My pronouns are he/they (meaning that both he/him and they/them are valid pronouns for me), and whether a video is being made or not depends on my <b>time</b>, <b>inspiration</b>, <b>energy</b> and <b>motivation</b>, this does not only apply for videos, it basically does for every project i have, my time zone is <b>GMT -6 Central America</b> ~ oh did i mention i come from Honduras?</p>

<h3>PC Specs!</h3>
<p>hey i saw that other people do this so why not do it too? :) (pls dont judge me for having this pc it's all i have ;-;)</p>

<p>My PC is a <b>eMachines ET1810 Revision 1</b> from 2009!</p>
<div class="container">
<p>
<ul>
    <li>
	<b>CPU</b>: Intel Celeron 420 (Conroe, 6th Gen) clocked at 1.6 GHz
   </li>
</ul>
<ul>
    <li>
	<b>GPU</b>: NVIDIA GeForce 7050 / nForce 620i
   </li>
</ul>
<ul>
    <li>
	<b>Storage</b>: 150 GB HDD (74.11 GB for Windows, 57.14 GB for Data, 16.79 GB for Linux)
   </li>
</ul>
<ul>
    <li>
	<b>OSes</b>: Microsoft Windows 7 Ultimate (x64) & Ubuntu Server [22.04 Jammy Jellyfish - jammy] LTS (x64) with XFCE 4.16
   </li>
</ul>
<ul>
    <li>
	<b>Software used for videos</b>: Camtasia Studio (Video Editing), Camtasia Recorder (Video Recording), GIMP 2.18.99 (Photo Editing), VMware Workstation Pro & Player 12 (Virtualization)
   </li>
</ul>
</p>
</div>
<h4>Other devices i have</h4>
<p>
<ul>
    <li>
        Dell Optiplex GX620 (main PC from 2017 to 2023)
   </li>
</ul>
<ul>
    <li>
        Xiaomi Redmi 9A (main phone since 2023)
   </li>
</ul>
<ul>
    <li>
        Samsung Galaxy J5 (main phone from 2018 to 2023)
   </li>
</ul>
</p>
</div>

