<h2>StuffyXP Website Update 2.1 Changelog</h2>
<div class="container" id="changelog-text">
<ul>    
<li>Added a dropdown button for misc pages (e.g Downloads).</li>
<li>Ditched Instagram entirely in favor of Bluesky in the socials page.</li>
<li>Replaced the old bio for a new one.</li>
<li>Changed thumbnails of blog posts for new and better ones.</li>
<li>Changed main links type from link (<code class="language-plaintext highlighter-rouge">a</code>) to button (<code class="language-plaintext highlighter-rouge">button</code>) in order to match the padding of the dropdown button (shoutout to Clyron).</li>
<li>The website's favicon changes in what page you're on.</li>
<li>Fixed a typo on <a href="/blog/2024/09/28/how-to-get-camrec8-working-on-win-vista.html" style="color: rgba(137, 196, 244, 1) !important;">a blog post</a>.</li>
<li>Fixed a bug where WOU loads the normal favicon instead of the WOU favicon.</li>
<li>Added a credits page pop-up.</li>
<li>The StuffyXP Blog now has its own proper wordmark.</li>
<li>Edited the "Send me something!" text and icon to an envelope and "Contact me!"</li>
<li>Added a Bluesky link to the homepage along YT, Discord and Mastodon.</li>
<li>Fixed the bug where there was a non-funtional "Show Website Version" button.</li>
<li>The Clyron and Powered by textboxes in the footer have been moved to the Credits pop-up.</li>
<li>Renamed Stuffy Plus' link to StuffyXP Extras in the Projects page</li>
</ul>
</div>