<h3>Changelogs</h3>
<p>Which changelog would you like to see?</p>
<div class="columns" id="social-boxes">
 <div class="column">
     <div class="box" id="card">
        <nav class="level">
            <div class="level-left">
               <div class="level-item">
                 <div>
                   <span class="title">Update 2.1</span>
                   <p class="heading">"Better Late than Never"</p>
                 </div>
        </div>
    </nav>
              <p>Build 2091.main.241216-1650; December 12th, 2024 @ 4:50pm CST</p>
   <p>‎ </p>
   <a class="button is-rounded is-small" style="background-color: rgba(000, 000, 000, 0.2); border: 2px rgb(001, 001, 001);" href="/changelogs/2.1/"><i class="fas fa-arrow-up-right-from-square"></i>&nbsp; View</a>
</div>
</div>
<div class="column">
    <div class="box" id="card">
       <nav class="level">
           <div class="level-left">
              <div class="level-item">
                <div>
                  <span class="title">Update 2.1.1</span>
                  <p class="heading">"Happy New Year!"</p>
                </div>
       </div>
   </nav>
             <p>Build 2094.main.241224-2005; December 24th, 2024 @ 8:05pm CST</p>
  <p>‎ </p>
  <a class="button is-rounded is-small" style="background-color: rgba(000, 000, 000, 0.2); border: 2px rgb(001, 001, 001);" href="/changelogs/2.1.1/"><i class="fas fa-arrow-up-right-from-square"></i>&nbsp; View</a>
</div>
</div>
</div>
