<h3>Downloads</h3>
<p>Download links for special things! (or video props too)</p>
<div class="columns" id="social-boxes">
 <div class="column">
     <div class="box" id="card">
        <nav class="level">
            <div class="level-left">
               <div class="pl-4 pr-4">
                 <figure class="image is-64x64"><img id="ml3-icon" src="../img/mario_and_luigi_3_icon.png"></figure>
               </div>
               <div class="level-item">
                 <div>
                   <span class="title">Mario & Luigi: BIS Demo</span>
                   <p class="heading">Game</p>
                 </div>
        </div>
    </nav>
              <p>The 2009 US Kiosk Demo of Mario & Luigi: Bowser's Inside Story.</p>
              <p>All rights goes to Nintendo Co., Ltd and AlphaDream Corporation.</p>
   <p>‎ </p>
   <a class="button is-rounded is-small" style="background-color: rgba(000, 000, 000, 0.2); border: 2px rgb(001, 001, 001);" href="/downloads/mario&luigirpg3_kiosk-us/"><i class="fa-solid fa-arrow-down"></i>&nbsp; Download</a>
</div>
</div>
<div class="column">
  <div class="box" id="card">
     <nav class="level">
         <div class="level-left">
            <div class="pl-4 pr-4">
              <figure class="image is-64x64"><img id="ml3-icon" src="../img/catsdf-icon.png"></figure>
            </div>
            <div class="level-item">
              <div>
                <span class="title">CatsDF Extracted Icons</span>
                <p class="heading">Images</p>
              </div>
     </div>
 </nav>
           <p>Extracted DF Icons from CatsDF's Spritesheet for Geometry Dash.</p>
           <p>All rights to the icons goes to Brift.</p>
<p>‎ </p>
<a class="button is-rounded is-small" style="background-color: rgba(000, 000, 000, 0.2); border: 2px rgb(001, 001, 001);" href="/downloads/catsdf-icons/"><i class="fa-solid fa-arrow-down"></i>&nbsp; Download</a>
</div>
</div>
</div>
