<div class="container" id="centered"><h2>Hello there!</h2>
<h4>Welcome to StuffyXP's personal website! :D</h4>
<h5>The home for everything that you see on the Navbar, and other things too :3c</h5>
<h5>Feel free to visit this website whenever you'd like! Use the links on the Navbar to get started!
</h5>
<h3>Where do you want to go today?</h4>
<a href="/go/youtube-stuffy/" class="button is-rounded is-medium" style="background-color: rgba(000, 000, 000, 0.1); border: 2px rgb(001, 001, 001);"><i class="fab fa-youtube"></i>&nbsp;To the YouTube Channel!</a>
<a href="/go/discord/" class="button is-rounded is-medium" style="background-color: rgba(000, 000, 000, 0.1); border: 2px rgb(001, 001, 001);"><i class="fab fa-discord"></i>&nbsp;To the Discord Server!</a>
<a href="/go/mastodon/" class="button is-rounded is-medium" style="background-color: rgba(000, 000, 000, 0.1); border: 2px rgb(001, 001, 001);"><i class="fab fa-mastodon"></i>&nbsp;To the Mastodon Profile!</a>
<h3>Featured Videos</h3>
<h5>Some videos that i think should introduce you to what i do!</h5>
<div class="columns" id="column-ftvid">
    <div class="column">
        <iframe width="360" height="203" src="https://www.youtube.com/embed/veg3-OLrd-g?si=WbAvRh19WFSWjH5Z" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <p><i>StuffyXP - Installing Modern Programs on Windows Vista!</i></p>
    </div>
    <div class="column">
        <iframe width="360" height="203" src="https://www.youtube.com/embed/FlCzQW10Eso?si=F-62RvsCEAWF9lro" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <p><i>StuffyXP - Haiku – The modern implementation of BeOS!</i></p>
    </div>
    <div class="column">
        <iframe width="360" height="203" src="https://www.youtube.com/embed/r_qjkpvjapM?si=4DvNKy2QKuMiYoUG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <p><i>StuffyXP - A ReactOS video but everything goes kinda normal...</i></p>
    </div>
</div>
<div class="columns" id="column-ftvid">
    <div class="column">
        <iframe width="360" height="203" src="https://www.youtube.com/embed/PJipnS7r800?si=Ef_rnP9DI0xuUDyR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <p><i>Stuffy 64 - this is right and wrong at the same time... | SM64 96flashbacks Ep. 1</i></p>
    </div>
    <div class="column">
        <iframe width="360" height="203" src="https://www.youtube.com/embed/mK1zGnBJx3k?si=gMC1cDt7oaWO2-wG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <p><i>Stuffy 64 - the level 27 junker x experience.</i></p>
    </div>
    <div class="column">
        <iframe width="360" height="203" src="https://www.youtube.com/embed/LGSEziiGpZ8?si=Mnv6sVjo60jqiTYU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <p><i>Stuffy 64 - i actually did it...</i></p>
    </div>
</div>
</div>