<h3>Projects</h3>
<p>My projects across the years on my internet presence!</p>
<div class="columns" id="project-boxes">
    <div class="column">
     <div class="box" id="card">
        <nav class="level">
          <div class="level-left">
            <div class="pl-4 pr-4">
              <figure class="image is-48x48"><img src="../img/website.png"></figure>
            </div>
            <div class="level-item">
              <div>
                <span class="title">stuffyxp.github.io</span>
                <p class="heading">Website</p>
              </div>
            </div>
            </nav>
            <p>My own personal website! With its own blog too! :D</p>
<p>‎ </p>
		<a class="button is-rounded is-small" style="background-color: rgba(000, 000, 000, 0.2); border: 2px rgb(001, 001, 001);" href="../go/sourcecode"><i class="fas fa-arrow-up-right-from-square"></i>&nbsp; Source Code</a>
     </div>
      </div>
    <div class="column">
     <div class="box" id="card">
        <nav class="level">
          <div class="level-left">
            <div class="pl-4 pr-4">
              <figure class="image is-64x64"><img src="../img/yt.svg"></figure>
            </div>
            <div class="level-item">
              <div>
                <span class="title">YouTube</span>
                <p class="heading">The StuffyXP Network™</p>
              </div>
            </div>
            </nav>
            <p>My YouTube channels! (idk what else to put here lmao).</p>
<p>‎ </p>
<a class="button is-rounded is-small" style="background-color: rgba(000, 000, 000, 0.2); border: 2px rgb(001, 001, 001);" href="/go/youtube-stuffy/"><i class="fas fa-arrow-up-right-from-square"></i>&nbsp; StuffyXP</a>
<a class="button is-rounded is-small" style="background-color: rgba(000, 000, 000, 0.2); border: 2px rgb(001, 001, 001);" href="/go/youtube-stextras/"><i class="fas fa-arrow-up-right-from-square"></i>&nbsp; StuffyXP Extras</a>
<a class="button is-rounded is-small" style="background-color: rgba(000, 000, 000, 0.2); border: 2px rgb(001, 001, 001);" href="/go/youtube-stvlogs/"><i class="fas fa-arrow-up-right-from-square"></i>&nbsp; Stuffy Vlogs</a>
<a class="button is-rounded is-small" style="background-color: rgba(000, 000, 000, 0.2); border: 2px rgb(001, 001, 001);" href="/go/youtube-st64/"><i class="fas fa-arrow-up-right-from-square"></i>&nbsp; Stuffy 64</a>
<a class="button is-rounded is-small" style="background-color: rgba(000, 000, 000, 0.2); border: 2px rgb(001, 001, 001);" href="/go/youtube-stufflife/"><i class="fas fa-arrow-up-right-from-square"></i>&nbsp; Stuff Life</a>
     </div>
      </div>
</div>