<div id="title">
<span class="title">💻 Projects</span>
</div>
<p>‎ </p>
<p>Some projects of mine, both old, new and recent! (more coming soon)</p>
<div class="columns">
    <div class="column">
     <div class="box" id="card">
        <nav class="level">
          <div class="level-left">
            <div class="pl-4 pr-4">
              <figure class="image is-50x50"><img src="../img/yt.svg"></figure>
            </div>
            <div class="level-item">
              <div>
                <span class="title">YouTube</span>
                <p class="heading">Stuffy & Co.</p>
              </div>
            </div>
            </nav>
           This covers the Stuffy YouTube Channels, including the archive one, Stuff Life!
<p>‎ </p>
		<a class="button is-rounded is-small" style="background-color: rgba(000, 000, 000, 0.2); border: 2px rgb(001, 001, 001);" href="https://youtube.com/@stuffyxp"><i class="fas fa-arrow-up-right-from-square"></i>&nbsp; Stuffy on YouTube</a>
<a class="button is-rounded is-small" style="background-color: rgba(000, 000, 000, 0.2); border: 2px rgb(001, 001, 001);" href="https://youtube.com/@stuffyplus"><i class="fas fa-arrow-up-right-from-square"></i>&nbsp; Stuffy +</a>
<a class="button is-rounded is-small" style="background-color: rgba(000, 000, 000, 0.2); border: 2px rgb(001, 001, 001);" href="https://youtube.com/@stuffyvlogs2012"><i class="fas fa-arrow-up-right-from-square"></i>&nbsp; Stuffy Vlogs</a>
<a class="button is-rounded is-small" style="background-color: rgba(000, 000, 000, 0.2); border: 2px rgb(001, 001, 001);" href="https://youtube.com/@stuffy64_"><i class="fas fa-arrow-up-right-from-square"></i>&nbsp; Stuffy 64</a>
<a class="button is-rounded is-small" style="background-color: rgba(000, 000, 000, 0.2); border: 2px rgb(001, 001, 001);" href="https://youtube.com/@stufflife"><i class="fas fa-arrow-up-right-from-square"></i>&nbsp; Stuff Life</a>
     </div>
      </div>
    <div class="column">
     <div class="box" id="card">
        <nav class="level">
          <div class="level-left">
            <div class="pl-4 pr-4">
              <figure class="image is-64x64"><img src="../img/a.png"></figure>
            </div>
            <div class="level-item">
              <div>
                <p class="title">Website</p>
                <p class="heading">stuffyxp.github.io</p>
              </div>
            </div>
            </nav>
           The website you're visting right now + the Stuffy Blog!
<p>‎ </p>
<a class="button is-rounded is-small" style="background-color: rgba(000, 000, 000, 0.2); border: 2px rgb(001, 001, 001);" href="https://github.com/stuffyxp/stuffyxp.github.io"><i class="fas fa-arrow-up-right-from-square"></i>&nbsp; View website source code</a>
     </div>
      </div>
</div>
<p>‎ </p>