<h3>Socials</h3>
<p>The places where you will find me on the internet!</p>

<div class="columns" id="social-boxes">
    <div class="column">
     <div class="box" id="card">
        <nav class="level">
          <div class="level-left">
            <div class="pl-4 pr-4">
              <figure class="image is-48x48"><img src="../img/discord.svg"></figure>
            </div>
            <div class="level-item">
              <div>
                <span class="title">Discord  Server</span>
                <p class="heading">StuffyXP Hangout</p>
              </div>
            </div>
            </nav>
            <p>The Discord Server! The place where you can contact me</p>
<p>‎ </p>
		<a class="button is-rounded is-small" style="background-color: rgba(000, 000, 000, 0.2); border: 2px rgb(001, 001, 001);" href="../go/discord"><i class="fas fa-arrow-up-right-from-square"></i>&nbsp; Join server</a>
     </div>
      </div>
    <div class="column">
     <div class="box" id="card">
        <nav class="level">
          <div class="level-left">
            <div class="pl-4 pr-4">
              <figure class="image is-48x48"><img src="../img/mastodon.svg"></figure>
            </div>
            <div class="level-item">
              <div>
                <span class="title">Mastodon</span>
                <p class="heading">@stuffyxp@wetdry.world</p>
              </div>
            </div>
            </nav>
            <p>The place where i'm the most active on, well its second place</p>
<p>‎ </p>
<a class="button is-rounded is-small" style="background-color: rgba(000, 000, 000, 0.2); border: 2px rgb(001, 001, 001);" href="/go/mastodon/"><i class="fas fa-arrow-up-right-from-square"></i>&nbsp; Visit profile</a>
     </div>
      </div>
    <div class="column">
     <div class="box" id="card">
        <nav class="level">
          <div class="level-left">
            <div class="pl-4 pr-4">
              <figure class="image is-48x48"><img src="../img/bluesky.png"></figure>
            </div>
            <div class="level-item">
              <div>
                <span class="title">Bluesky</span>
                <p class="heading">@stuffyxp.github.io</p>
              </div>
            </div>
            </nav>
           <p>The cooler Twitter! Not really active but i randomly check lmfao</p>
<p>‎ </p>
<a class="button is-rounded is-small" style="background-color: rgba(000, 000, 000, 0.2); border: 2px rgb(001, 001, 001);" href="/go/bluesky/"><i class="fas fa-arrow-up-right-from-square"></i>&nbsp; Visit profile</a>
     </div>
      </div>
</div>
<div class="columns" id="social-boxes">
    <div class="column">
     <div class="box" id="card">
        <nav class="level">
          <div class="level-left">
            <div class="pl-4 pr-4">
              <figure class="image is-48x48"><img src="../img/email.svg"></figure>
            </div>
            <div class="level-item">
              <div>
                <span class="title">Email</span>
                <p class="heading">stuffyxp@gmail.com</p>
              </div>
            </div>
            </nav>
            <p>The official StuffyXP email address! <i>I will not accept sponsors.</i></p>
<p>‎ </p>
		<a class="button is-rounded is-small" style="background-color: rgba(000, 000, 000, 0.2); border: 2px rgb(001, 001, 001);" href="mailto:stuffyxp@gmail.com"><i class="fa-solid fa-envelope"></i>&nbsp; Contact me!</a>
     </div>
      </div>
    <div class="column">
     <div class="box" id="card">
        <nav class="level">
          <div class="level-left">
            <div class="pl-4 pr-4">
              <figure class="image is-48x48"><img src="../img/twitter.svg"></figure>
            </div>
            <div class="level-item">
              <div>
                <span class="title">Twitter</span>
                <p class="heading">@StuffyXP</p>
              </div>
            </div>
            </nav>
            <p>fuck that platform fr why am i even on there~</p>
<p>‎ </p>
<a class="button is-rounded is-small" style="background-color: rgba(000, 000, 000, 0.2); border: 2px rgb(001, 001, 001);" href="/go/twitter/"><i class="fas fa-arrow-up-right-from-square"></i>&nbsp; Visit profile</a>
     </div>
      </div>
      <div class="column">
        <div class="box" id="card">
           <nav class="level">
             <div class="level-left">
               <div class="pl-4 pr-4">
                 <figure class="image is-48x48"><img src="../img/reddit.svg"></figure>
               </div>
               <div class="level-item">
                 <div>
                   <span class="title">Reddit</span>
                   <p class="heading">r/StuffyXP & u/StuffyXP</p>
                 </div>
               </div>
               </nav>
              <p>I dont really use this but post cool stuff on that subreddit ig</p>
   <p>‎ </p>
   <a class="button is-rounded is-small" style="background-color: rgba(000, 000, 000, 0.2); border: 2px rgb(001, 001, 001);" href="/go/subreddit/"><i class="fas fa-arrow-up-right-from-square"></i>&nbsp; Visit subreddit</a>
   <a class="button is-rounded is-small" style="background-color: rgba(000, 000, 000, 0.2); border: 2px rgb(001, 001, 001);" href="/go/reddit/"><i class="fas fa-arrow-up-right-from-square"></i>&nbsp; Visit profile</a>
        </div>
         </div>
      </div>
      <p style="text-align: center;"><b>Other accounts that i'm not making a box for:</b></p>
         <ul>
          <li>
          <p style="text-align: left;"><b>Geometry Dash</b>: StuffyXP <a class="button is-rounded is-small" style="background-color: rgba(000, 000, 000, 0.2); border: 2px rgb(001, 001, 001); color: white !important;" href="https://gdbrowser.com/u/StuffyXP"><i class="fas fa-arrow-up-right-from-square"></i>&nbsp; View Profile</a></p>
          </li>
          <li>
            <p style="text-align: left;"><b>Internet Archive</b>: StuffyXP <a class="button is-rounded is-small" style="background-color: rgba(000, 000, 000, 0.2); border: 2px rgb(001, 001, 001); color: white !important;" href="https://archive.org/details/@stuffyxp"><i class="fas fa-arrow-up-right-from-square"></i>&nbsp; View Profile</a></p>
          </li>
          <!-- thinkering on what im on -->
           <!-- oh i know! -->
           <li>
            <p style="text-align: left;"><b>GitHub</b>: stuffyxp <a class="button is-rounded is-small" style="background-color: rgba(000, 000, 000, 0.2); border: 2px rgb(001, 001, 001); color: white !important;" href="https://github.com/stuffyxp"><i class="fas fa-arrow-up-right-from-square"></i>&nbsp; View Profile</a></p>
          </li>
        </ul>
</div>