<div id="title">
<span class="title">👥 Socials</span>
</div>
<p>‎ </p>
<p>
Where to find me!
</p>
<p>‎ </p>
<div class="columns">
    <div class="column">
     <div class="box" id="card">
        <nav class="level">
          <div class="level-left">
            <div class="pl-4 pr-4">
              <figure class="image is-48x48"><img src="../img/discord.svg"></figure>
            </div>
            <div class="level-item">
              <div>
                <span class="title">Discord</span>
                <p class="heading">Stuffy's Place</p>
              </div>
            </div>
            </nav>
           The official Stuffy Discord server! If you'd like to join, go ahead!
<p>‎ </p>
		<a class="button is-rounded is-small" style="background-color: rgba(000, 000, 000, 0.2); border: 2px rgb(001, 001, 001);" href="../go/discord"><i class="fas fa-arrow-up-right-from-square"></i>&nbsp; Join server</a>
     </div>
      </div>
    <div class="column">
     <div class="box" id="card">
        <nav class="level">
          <div class="level-left">
            <div class="pl-4 pr-4">
              <figure class="image is-48x48"><img src="../img/mastodon.svg"></figure>
            </div>
            <div class="level-item">
              <div>
                <p class="title">Mastodon</p>
                <p class="heading">@stuffyxp@wetdry.world</p>
              </div>
            </div>
            </nav>
           The (second) place i'm most active on, whether you like it or not.
<p>‎ </p>
<a class="button is-rounded is-small" style="background-color: rgba(000, 000, 000, 0.2); border: 2px rgb(001, 001, 001);" href="https://wetdry.world/@stuffyxp"><i class="fas fa-arrow-up-right-from-square"></i>&nbsp; Visit profile</a>
     </div>
      </div>
    <div class="column">
     <div class="box" id="card">
        <nav class="level">
          <div class="level-left">
            <div class="pl-4 pr-4">
              <figure class="image is-48x48"><img src="../img/reddit.svg"></figure>
            </div>
            <div class="level-item">
              <div>
                <p class="title">Reddit</p>
                <p class="heading">r/StuffyXP & u/StuffyXP</p>
              </div>
            </div>
            </nav>
           Reddit... yeah idk what to put here, there is a cool subreddit ig...
<p>‎ </p>
<a class="button is-rounded is-small" style="background-color: rgba(000, 000, 000, 0.2); border: 2px rgb(001, 001, 001);" href="https://reddit.com/r/StuffyXP"><i class="fas fa-arrow-up-right-from-square"></i>&nbsp; Visit subreddit</a>
<a class="button is-rounded is-small" style="background-color: rgba(000, 000, 000, 0.2); border: 2px rgb(001, 001, 001);" href="https://reddit.com/u/StuffyXP"><i class="fas fa-arrow-up-right-from-square"></i>&nbsp; Visit profile</a>
     </div>
      </div>
</div>
<div class="columns">
    <div class="column">
     <div class="box" id="card">
        <nav class="level">
          <div class="level-left">
            <div class="pl-4 pr-4">
              <figure class="image is-48x48"><img src="../img/email.svg"></figure>
            </div>
            <div class="level-item">
              <div>
                <span class="title">Email</span>
                <p class="heading">stuffyxp@gmail.com</p>
              </div>
            </div>
            </nav>
           The official Stuffy email address, if ya want to send me a letter or something, here you go!
<p>‎ </p>
		<a class="button is-rounded is-small" style="background-color: rgba(000, 000, 000, 0.2); border: 2px rgb(001, 001, 001);" href="mailto:stuffyxp@gmail.com"><i class="fas fa-arrow-up-right-from-square"></i>&nbsp; Send me something!</a>
     </div>
      </div>
    <div class="column">
     <div class="box" id="card">
        <nav class="level">
          <div class="level-left">
            <div class="pl-4 pr-4">
              <figure class="image is-48x48"><img src="../img/twitter.svg"></figure>
            </div>
            <div class="level-item">
              <div>
                <p class="title">Twitter</p>
                <p class="heading">@StuffyXP</p>
              </div>
            </div>
            </nav>
           Not so active, but listed here because why not?. :)
<p>‎ </p>
<a class="button is-rounded is-small" style="background-color: rgba(000, 000, 000, 0.2); border: 2px rgb(001, 001, 001);" href="https://x.com/StuffyXP"><i class="fas fa-arrow-up-right-from-square"></i>&nbsp; Visit profile</a>
     </div>
      </div>
    <div class="column">
     <div class="box" id="card">
        <nav class="level">
          <div class="level-left">
            <div class="pl-4 pr-4">
              <figure class="image is-48x48"><img src="../img/instagram.svg"></figure>
            </div>
            <div class="level-item">
              <div>
                <p class="title">Instagram</p>
                <p class="heading">@thestuffyxp</p>
              </div>
            </div>
            </nav>
           nope, not active, listed as same reason as twitter.
<p>‎ </p>
<a class="button is-rounded is-small" style="background-color: rgba(000, 000, 000, 0.2); border: 2px rgb(001, 001, 001);" href="https://instagram.com/@thestuffyxp"><i class="fas fa-arrow-up-right-from-square"></i>&nbsp; Visit profile</a>
     </div>
      </div>
</div>
<p>‎ </p>