<h3>Socials</h3>
<p>The places where you will find me on the internet!</p>

<div class="columns" id="social-boxes">
    <div class="column">
     <div class="box" id="card">
        <nav class="level">
          <div class="level-left">
            <div class="pl-4 pr-4">
              <figure class="image is-48x48"><img src="../img/discord.svg"></figure>
            </div>
            <div class="level-item">
              <div>
                <span class="title">Discord</span>
                <p class="heading">Stuffy's Place</p>
              </div>
            </div>
            </nav>
            <p>The official Stuffy Discord server! If you'd like to join, go ahead!</p>
<p>‎ </p>
		<a class="button is-rounded is-small" style="background-color: rgba(000, 000, 000, 0.2); border: 2px rgb(001, 001, 001);" href="../go/discord"><i class="fas fa-arrow-up-right-from-square"></i>&nbsp; Join server</a>
     </div>
      </div>
    <div class="column">
     <div class="box" id="card">
        <nav class="level">
          <div class="level-left">
            <div class="pl-4 pr-4">
              <figure class="image is-48x48"><img src="../img/mastodon.svg"></figure>
            </div>
            <div class="level-item">
              <div>
                <span class="title">Mastodon</span>
                <p class="heading">@stuffyxp@wetdry.world</p>
              </div>
            </div>
            </nav>
            <p>The (second) place i'm most active on, whether you like it or not.</p>
<p>‎ </p>
<a class="button is-rounded is-small" style="background-color: rgba(000, 000, 000, 0.2); border: 2px rgb(001, 001, 001);" href="/go/mastodon/"><i class="fas fa-arrow-up-right-from-square"></i>&nbsp; Visit profile</a>
     </div>
      </div>
    <div class="column">
     <div class="box" id="card">
        <nav class="level">
          <div class="level-left">
            <div class="pl-4 pr-4">
              <figure class="image is-48x48"><img src="../img/reddit.svg"></figure>
            </div>
            <div class="level-item">
              <div>
                <span class="title">Reddit</span>
                <p class="heading">r/StuffyXP & u/StuffyXP</p>
              </div>
            </div>
            </nav>
           <p>Reddit... yeah idk what to put here, there is a cool subreddit ig...</p>
<p>‎ </p>
<a class="button is-rounded is-small" style="background-color: rgba(000, 000, 000, 0.2); border: 2px rgb(001, 001, 001);" href="/go/subreddit/"><i class="fas fa-arrow-up-right-from-square"></i>&nbsp; Visit subreddit</a>
<a class="button is-rounded is-small" style="background-color: rgba(000, 000, 000, 0.2); border: 2px rgb(001, 001, 001);" href="/go/reddit/"><i class="fas fa-arrow-up-right-from-square"></i>&nbsp; Visit profile</a>
     </div>
      </div>
</div>
<div class="columns" id="social-boxes">
    <div class="column">
     <div class="box" id="card">
        <nav class="level">
          <div class="level-left">
            <div class="pl-4 pr-4">
              <figure class="image is-48x48"><img src="../img/email.svg"></figure>
            </div>
            <div class="level-item">
              <div>
                <span class="title">Email</span>
                <p class="heading">stuffyxp@gmail.com</p>
              </div>
            </div>
            </nav>
            <p>The official Stuffy email address, if ya want to send me a letter or something, here you go!</p>
<p>‎ </p>
		<a class="button is-rounded is-small" style="background-color: rgba(000, 000, 000, 0.2); border: 2px rgb(001, 001, 001);" href="mailto:stuffyxp@gmail.com"><i class="fas fa-arrow-up-right-from-square"></i>&nbsp; Send me something!</a>
     </div>
      </div>
    <div class="column">
     <div class="box" id="card">
        <nav class="level">
          <div class="level-left">
            <div class="pl-4 pr-4">
              <figure class="image is-48x48"><img src="../img/twitter.svg"></figure>
            </div>
            <div class="level-item">
              <div>
                <span class="title">Twitter</span>
                <p class="heading">@StuffyXP</p>
              </div>
            </div>
            </nav>
            <p>Not so active, but listed here because why not?. :)</p>
<p>‎ </p>
<a class="button is-rounded is-small" style="background-color: rgba(000, 000, 000, 0.2); border: 2px rgb(001, 001, 001);" href="/go/twitter/"><i class="fas fa-arrow-up-right-from-square"></i>&nbsp; Visit profile</a>
     </div>
      </div>
    <div class="column">
     <div class="box" id="card">
        <nav class="level">
          <div class="level-left">
            <div class="pl-4 pr-4">
              <figure class="image is-48x48"><img src="../img/instagram.svg"></figure>
            </div>
            <div class="level-item">
              <div>
                <span class="title">Instagram</span>
                <p class="heading">@thestuffyxp</p>
              </div>
            </div>
            </nav>
            <p>nope, not active, listed as same reason as twitter.</p>
<p>‎ </p>
<a class="button is-rounded is-small" style="background-color: rgba(000, 000, 000, 0.2); border: 2px rgb(001, 001, 001);" href="/go/instagram/"><i class="fas fa-arrow-up-right-from-square"></i>&nbsp; Visit profile</a>
     </div>
      </div>
</div>